 body {
        background-size: cover;
        background-color: rgb(255, 255, 255);
        background-image: url('../image/backdrop.png');
    }

    .container {
        width: 100%;
        min-height: 100vh;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 50px;
        cursor: pointer;
        margin: 30px 0px;
    }

    .logo-text {
        cursor: pointer;
        position: relative;
        margin-left: 70px;
        color: #0E6993;
    }

    nav {
        flex: 1;
        text-align: right;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
        margin-right: 30px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #0E6993;
       
    }

    nav ul li a:hover {
        color: #D33148;
    }
    .vote {
            border: 2px solid #0E6993;
            background-color: none;
            background: none;
            color: #0E6993;
            border-radius: 20px;
            font-size: 10px;
        }
        .vote:hover{
            border:2px solid #D33148;
        }

    main {
        display: flex;
        align-content: center;
    }

    .content1 {
        color: #0E6993;
        position: relative;
        width: 50%;
        
    }
    h1{
        font-size: 50px;
        font-weight: 700;
    }
    h3 {
        font-size: small;
        font-weight: 100;
    }
.content2{
    width: 50%;
}
    .learn {
        background-color: #0E6993;
        color: white;
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 20px;
    }

    .learn a {
        color: white;
        font-size: larger;
        text-decoration: none;
    }
    .learn:hover{
        
        background-color: #D33148
    }