:root{
    --color1: #0E6993;
    --color2: #D33148;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    
    font-family: Open Sans,'Helvetica',Arial,sans-serif;
}

.button2 {
    width: 140px;
    border: 0px;
    padding: 12px 10px;
    outline: none;
    background-image: linear-gradient(to left, var(--color1), var(--color2));
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: width 0.1s;
}

.button2 img {
    width: 30px;
    display: none;
}

.button2:hover img {
    display: block;
}

.button2:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0px;
}

.logo-text {
    cursor: pointer;
    position: relative;
    margin-left: 70px;
    color: var(--color1);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color1);
}

nav ul li a:hover {
    color: var(--color2);
}

nav:hover .bnt-1 {
    width: 90px;
    border: 0ch;
    padding: 12px 10px;
    outline: none;

    background-color: var(--color2);
    color: rgb(255, 255, 255);
    border: var(--color1);
    background: none;
    border-radius: 50px;
}

.vote {
    border: 2px solid var(--color1);
    background-color: none;
    background: none;
    color: var(--color1);
    border-radius: 20px;
    font-size: 10px;
}

a {
    color: var(--color1);
    text-decoration: none;
}

a:hover {
    color: white;
}

.vote:hover {
    border: 2px solid var(--color2);
}

img {
    float: left;
}

li button:hover {
    scale: (3);
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.vote1 {
    
    padding: 1.5rem;
    width: 50%;
    margin-right: 10%;
}
.vote1 p{
    font-size: 18px;
    font-weight: 100;
    line-height: 1.67;  
}
.vote1 h1 {
    color: var(--color1);
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.vote1 h3 {
    font-weight: 100;
    margin: 1em 0;
}
.vote2{
width: 50%;
}
.section2 {
    height: 100vh;

}

.section3 {
    height: 100%;
}

footer {
    height: 50vh;
    background-color: var(--color1);
    color: #fff;
}

.row {
    padding: 0 5%;
}

.colunm {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.colunm2 {
    display: flex;
    margin-top: 5%;
    padding-top: 5%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    padding-top: 5%;

}
.section2{
    height: 100vh;
    
}
.section-2 {
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: space-evenly;
}

.content2 {
    width: 40%;
    text-align: justify;
    background: url();
}

.content2 h2 {
    color: var(--color2);
}

.content2 h2 p {
    color: var(--color2);
}

.read {
    background: none;
    width: 30%;
    height: 10%;
    font-size: 15px;
    border-radius: 10px;
    background: #26789d;
    border: 4px solid var(--color1);
    color: #fff;
}
.link{
    color: #fff;
}

.read:hover {
    color: #fff;
    background: var(--color2);
    border: 4px solid var(--color2);
}

.feature {
    background-color: #26789d;
    height: 100vh;
}

.section3 {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
    height: 50vh;
}

.cont-1 {
    background-color: #fff;
    height: 45vh;
    margin-top: 3%;
    box-shadow: -1px 2px 13px 2px rgb(175 175 175 / 50%);
    margin-left: 4%;
    text-align: center;
    width: 17%;
    border-radius: 20px;

}

.cont-1 #cont {
    width: 30%;
    margin: 5% 35%;
}

#cont {
    display: inline-block;
}

#h3 {
    font-size: 15px;
    margin-top: 30%;
}
#par{
    opacity: 0.5;
}

#btn-1 {
    border: 2px solid var(--color1);
    color: #26789d;
    font-weight: bold;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    background: none;
}
#btn-1:hover{
    color: #fff;
    background: var(--color2);
    border: 2px solid var(--color2);
}
#btn-2 {
    width: 70%;
    height: 7%;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(87deg, #00e5ff, #004fff);
}
#btn-2:hover{
    scale: 120%;
}
.section3-1 {
    text-align: center;
    color: #fff;
    margin: 0 5%;
}

.section3-1 h3 p .section4 {
    text-align: center;
    align-content: center;
    height: 30vh;
}


.section3-2 {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

.cont-2 {
    height: 45vh;
    margin-left: 4%;
    text-align: left;
    width: 20%;
    border-radius: 20px;

}

.cont-2 #cont {
    width: 30%;
    
}

#cont {
    display: inline-block;
}

#h3 {
    font-size: 15px;
    margin-top: 30%;
}
#p{
    text-align: justify;
    text-justify: inter-word;
}
.section4{
    height: 30vh;

}
.section4 h2 {
    color: var(--color1);
    text-align: center;
    font-size: 30px;
}

.sponsors {
    display: flex;
    height: 30%;
    justify-content: space-around;
}

#img {
    width: 5%;
}
#imgL{
    width: 20%;
}
footer a {
    color: #fff;
    padding-left: 5%;
    font-size: 20px;
}

footer a:hover {
    cursor: pointer;
    color: var(--color2);
}

.sub1 {
    width: 50%;
    margin-top: 30px;
}

.sub1 h1 {
    margin: 30px 26px;

}

.sub2 {

    margin-top: 30px;
}

.sub2 h3 {
    color: #fff;
}

.sub2 button {
    border: 2px solid #fff;
    padding: 10px;
    background: transparent;

    color: #fff;
}

.sub2 button:hover {
    cursor: pointer;
    background: var(--color2);
}

::placeholder {
    color: #fff;

}

.sub2 input {
    border: none;
    border: 2px solid #fff;
    padding: 10px;
    width: fit-content;
    color: #fff;
    background: transparent;
}

.sub3 {
    width: 70%;
}

.p {
    padding-left: 0;
}

.sub3 a p {
    margin: 0%;
    font-size: 15px;
    display: inline-block;
    padding-left: 1%;
}

.sub4 {
    width: 40%;
    display: flex;

    flex-direction: row-reverse;
}

.sub4 img {
    margin-left: 10%;
    height: 20px;
}