
body{
    
    background-size: cover;
    background-color: antiquewhite;
    margin: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: #0E6993;
}

div{
    margin: auto;
    position: relative;
    
}
h2{
    text-align: center;

}
input{
    width: 90%;
    padding: 12px 20px;
    margin: 0px 12px 40px 0px;
    
    border: 3px solid #0E6993;
    border-radius: 20px;
}

form{
    background-color: rgb(255, 255, 255);
    width: 500px;
    display: inline-block;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 20px;
    margin: 0 auto;
}
input{
text-align: center;
}
#remember{
    margin: 0px 0px;
    width: auto;
}
label .remember{
    margin: 20px;
}
#need{
    margin: 0px 0px 0px 70px;
    padding: 0px 0px 0px 120px;
}
.grid1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.grid1 > div{
    
    padding: 10px;
    margin: 20px;
}
#sign-up{
    position: relative;
    left: 30%;
}
.submit{
    margin: 0 25% 5%;
    color: #fff;
    background-color: #D33148;
    text-align: center;
    width: 50%;
    border: 3px solid #D33148;
}