body {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, 'sans-serif';
}
.container {
    width: 100%;
    min-height: 60vh;
    padding-left: 8%;
    background-color:#86b4c9;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    background-image: url('backdrop.png');
    font-family: Georgia, 'Times New Roman', Times, 'sans-serif';
}

.button2 {
    width: 140px;
    border: 0px;
    padding: 12px 10px;
    outline: none;
    background-image: linear-gradient(to left, #0E6993, #D33148);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: width 0.1s;
}

.button2 img {
    width: 30px;
    display: none;
}

.button2:hover img {
    display: block;
}

.button2:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0px;
}

.logo-text {
    cursor: pointer;
    position: relative;
    margin-left: 70px;
    color: #0E6993;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #0E6993;
}

nav ul li a:hover {
    color: #D33148;
}

nav:hover .bnt-1 {
    width: 90px;
    border: 0ch;
    padding: 12px 10px;
    outline: none;

    background-color: #D33148;
    color: rgb(255, 255, 255);
    border: #0E6993;
    background: none;
    border-radius: 50px;
}

.vote {
    border: 2px solid #0E6993;
    background-color: none;
    background: none;
    color: #0E6993;
    border-radius: 20px;
    font-size: 10px;
}

a {
    color: #0E6993;
    text-decoration: none;
}

a:hover {
    color: white;
}

.vote:hover {
    border: 2px solid #D33148;
}

.hero-section{
    height: 40vh;
    text-align: center;
    color: #fff;
}
h2{
    text-align: center;
}
.hero2{
    margin:0 10%;
    text-justify: inter-word;
}
.section-1{
    display: flex;
    margin: 5% 5%;
    justify-content: space-between;
}
.content-1{
    width: 50%;
    text-align: justify;
}
.content-2{
    width: 50%;
}


footer {
    height: 50vh;
    background-color: #0E6993;
    color: #fff;
}

.row {
    padding: 0 5%;
}

.colunm {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.colunm2 {
    display: flex;
    margin-top: 5%;
    padding-top: 5%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    padding-top: 5%;

}
footer a {
    color: #fff;
    padding-left: 5%;
    font-size: 20px;
}

footer a:hover {
    cursor: pointer;
    color: #D33148;
}

.sub1 {
    width: 50%;
    margin-top: 30px;
}

.sub1 h1 {
    margin: 30px 26px;

}

.sub2 {

    margin-top: 30px;
}

.sub2 h3 {
    color: #fff;
}

.sub2 button {
    border: 2px solid #fff;
    padding: 10px;
    background: transparent;

    color: #fff;
}

.sub2 button:hover {
    cursor: pointer;
    background: #D33148;
}

::placeholder {
    color: #fff;

}

.sub2 input {
    border: none;
    border: 2px solid #fff;
    padding: 10px;
    width: fit-content;
    color: #fff;
    background: transparent;
}

.sub3 {
    width: 70%;
}

.p {
    padding-left: 0;
}

.sub3 a p {
    margin: 0%;
    font-size: 15px;
    display: inline-block;
    padding-left: 1%;
}

.sub4 {
    width: 40%;
    display: flex;

    flex-direction: row-reverse;
}

.sub4 img {
    margin-left: 10%;
    height: 20px;
}