body {
    background-color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url('backdrop.png');

}

.container {
    text-align: center;
    
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 20%;
    flex-direction: row-reverse;
    justify-content: center;
}

.text {
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 100px;
    margin: 0;


    color: #D33148;
}

h2 {
    margin: 0;
    color: #0E6993;
}

h3 {
    color: #0E6993;
}

button {
    border: 2px solid #0E6993;
    background-color: none;
    background: none;
    color: #0E6993;
    border-radius: 20px;
    font-size: 20px;
}
a{
    color: #0E6993;
    text-decoration: none;
}
a:hover{
    color: white;
}
button:hover {
    border: 2px solid #D33148;
}

img {
    float: left;
}